table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #1976d2;
  color: white;
}

td, th {
  padding: 10px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background: #f9f9f9;
}

tbody tr:hover {
  background: #eef5ff;
}